/* Check Box Component */

.checkBoxWrapper {
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 0;
    top: 25%;
    width: 22px;

    &:hover {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .checkBox {
        height: inherit;
        width: inherit;
        
        .checkBoxInput {
            -webkit-appearance: none;
            width: inherit;
            height: inherit;
            border-radius: 2px;
            border: 2px solid #3B755F;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:checked {
                background-color: #3B755F;
                color: #fff;

                &:before {
                    content: "\2713";
                    font-size: 18px;
                    font-weight: bold;
                    color: #fff;
                }
            }
        }
    }
}
